body{
  background: #ffffff;
}
.header{
  height: 100px;
  width: 100%;
}
.header_naming{
  font-size: 36px;
  font-family: poppins, sans-serif;
}
.search_field {
  display: flex;
  font-size: 14px;
  border-radius: 20px;
  gap: 10px;

}
